import * as T from "./types";

export type ID = string;
export type ErrorResponse = { ok: false; error: string };
export type DeleteResponse = ErrorResponse | { ok: true };
export type MutationResponse<T> = ErrorResponse | { ok: true; data: T };
export type QueryResponse<T> = ErrorResponse | { ok: true; total: number; data: T };

export async function request<T>(url: string, init?: RequestInit) {
    const headers = {
        "content-type": "application/json",
        ...init?.headers,
    };

    const response = await fetch(url, {
        ...init,
        credentials: "include",
        headers,
    });

    if (response.headers.get("content-type") == "application/json") {
        return response.json() as T;
    } else {
        return { ok: false, error: "unknown error on request" } as T;
    }
}

export function Api(url: string) {
    url = url.replace(/\/+$/, "");
    return {
        {{ range .Schemas }}
        {{ snake .Name }}: {
            query: async (query?: T.{{ pascal .Name }}QueryInput) =>
                request<Promise<QueryResponse<Array<T.{{ pascal .Name }}>>>>(
                    `${url}/{{ plural .Name | kebab }}${
                        query ? `?query=${JSON.stringify(query)}` : ""
                    }`,
                    {}
                ),
            create: async (input: T.{{ pascal .Name }}CreateInput) =>
                request<Promise<MutationResponse<T.{{ pascal .Name }}>>>(`${url}/{{ plural .Name | kebab }}`, {
                    method: "POST",
                    body: JSON.stringify(input),
                }),
            update: async (input: T.{{ pascal .Name }}UpdateInput) =>
                request<Promise<MutationResponse<T.{{ pascal .Name }}>>>(`${url}/{{ plural .Name | kebab }}`, {
                    method: "PATCH",
                    body: JSON.stringify(input),
                }),
            delete: async (id: ID) =>
                request<Promise<DeleteResponse>>(`${url}/{{ plural .Name | kebab }}/${id}`, {
                    method: "DELETE",
                }),
        },
        {{ end }}
    };
}
