package db

import (
    "{{ .Config.Package }}/ent"
    "{{ .Config.Package }}/ent/migrate"
	"context"
	"log"

	"entgo.io/ent/dialect"
	_ "github.com/mattn/go-sqlite3"
)

var (
	Client *ent.Client
)

func Init() {
	client, err := ent.Open(dialect.SQLite, "db.sqlite?_fk=1&cache=shared")
	if err != nil {
		log.Fatalln(err)
	}

	err = client.Schema.Create(context.Background(),
		migrate.WithDropIndex(true),
		migrate.WithDropColumn(true),
	)
	if err != nil {
		log.Fatalln(err)
	}

	Client = client
}
